*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background:#E5E5E5;
}

h2{
    font-size:30px;
}

.mar{
    position:relative;
    top:20 px;
}

.name{
    position:relative;
    left:45.5%;
    margin-top:20px;
    
}

#nameField{
    position: relative;
    left: 43%;

    font-size:25px;
    padding: 5px;
    margin-top:10px;
}

.salary{
    position: relative;
    left:45%;
    margin-top: 20px;
    
}

#salaryField{
    position: relative;
    left: 43%;

    font-size:25px;
    padding:5px;
    margin-top:10px;
}

button{
    position: relative;
    left: 48%;
    margin-top:40px;

    font-size: 20px;
    padding: 10px 35px;

    color:white;
    background:black;
    border-radius:5px;
}

