*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background:#E5E5E5;
}

h2{
    position: relative;
    left: 45%;
    margin-top: 30px;
}

input{
    position: relative;
    left: 43.5%;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
}

input:hover{
    box-shadow: 1px 1px 10px black;
    border: 1px solid white;
}

button {
    padding: 10px 35px;
    font-size: 20px;
    background:black;
    color:white;
    border-radius:5px;

    position:relative;
    left:46.5%;
    margin-top:40px;
    transition: .5s;
}

button:hover{
    box-shadow: 1px 1px 10px black;
    font-weight:bold;
    transition: .5s;
    cursor:pointer;
}



